{% extends 'first_app/home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block content%}
    {% load crispy_forms_tags %}
        <form method='post' action="" style="width: 50%; height: 500px; margin:auto;" class="pt-4">
            {{form | crispy}}
        <!-- <button class = "btn btn-primary" type = "submit"></button> -->
        <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    {%endblock%}
</body>
</html>